*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    background-color: #081b31;     /*change the background color to black when we hover on image*/
    cursor: pointer;    /*change the cursor when we hover on image*/
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover; /*object fit is use when our images not looking well or it seems contracted or shrink images*/
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 4rem;
    gap: 5rem;
}

#userscore, #compscore{
    font-size: 4rem;
}
.msgcontainer{
    margin-top: 5rem;
    justify-content: center;
}

#msg{
    background-color: #081b31;
    color: #fff;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    
}